[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
notion = {git = "https://github.com/nkdn/notion-py.git"}
python-dotenv = "*"
requests = "*"
emoji = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.10"
