[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
notion = {git = "git://github.com/neneka/notion-py.git"}
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"
